@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <h1>Plavalni klub SPLOC </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Dobrodošli na spletni strani Sploc</h2>
        <p>
            Sploc aplikacija je aplikacija namenjena za 
            lažjo organizacijo plavalnega kluba.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Imamo odlične bazene</h2>
        <img style='height: 100%; width: 100%; object-fit: contain' src="images/Bazen.jpg" alt="Bazen" />
    </div>
    <div class="col-md-4">
        <h2>Mobilna aplikacija</h2>
        <p>Na voljo imamo tudi mobilno aplikacijo.</p>
        <p><a class="btn btn-default" href="https://github.com/Dumbledwarf/PlavalniKlubApp"> Preverite našo mobilno aplikacijp &raquo;</a></p>
    </div>
</div>